---
import { articlesList } from "../../utils/articles";
import Article from "./article/Article.astro";
---

<article class="max-w-[900px] mx-auto py-8 px-4">
	<section class="flex flex-col items-center text-white">
		<h4 class="text-xl">Ultimos articulos</h4>
		<p class="text-sm font-light">Lea lo ultimo del mundo Django</p>
	</section>
	<main class="flex flex-col gap-8">
		<div class="flex flex-col gap-8">
			{
				articlesList.map((a) => {
					return <Article key={a.id} article={a} />;
				})
			}
		</div>
		<button
			class=`bg-[var(--primary-color)] p-2 rounded-sm cursor-pointer text-white mx-auto`
			>Ver Todos</button
		>
	</main>
</article>
