<article
	class="flex flex-col p-4 max-w-[1000px] mx-auto text-white gap-8 items-center justify-between sm:flex-row lg:p-0"
>
	<section class="flex flex-col gap-8">
		<article>
			<h2 class="text-4xl font-bold mb-2">Mundo Dijango</h2>
			<p class="text-sm font-light max-w-[500px]">
				En nuestro blog sobre Django, encontrarás una fuente confiable de
				información y recursos para mejorar tus habilidades en este poderoso
				framework de desarrollo web. Aquí podrás acceder a tutoriales
				detallados, guías paso a paso y las mejores prácticas para construir
				aplicaciones seguras, escalables y eficientes con Django.
			</p>
		</article>
		<article class="flex gap-2">
			<button
				class=`p-2 cursor-pointer bg-[var(--primary-color)] rounded-sm text-sm`
				>Enviar Proyecto</button
			>
			<button class="p-2 bg-white cursor-pointer text-black rounded-sm text-sm"
				>Leer Articulos</button
			>
		</article>
	</section>
	<section class="py-8">
		<img class="max-w-[350px]" src="/logo-astronauta.png" alt="" />
	</section>
</article>
