---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import Articles from "../components/articles/Articles.astro";
---

<Layout>
	<div class="bg-gray-900">
		<Hero />
	</div>
	<div class="bg-gray-800">
		<Articles />
	</div>
</Layout>
