<footer
	class="text-white flex flex-wrap max-w-[900px] mx-auto justify-between p-8 gap-8"
>
	<article class="flex flex-col gap-2">
		<h4>Recursos</h4>
		<ul class="font-light text-sm">
			<li>Mapa del sitio</li>
			<li>RSS Feed</li>
			<li>Solicitud de Funcion</li>
			<li>Reportar un Error</li>
		</ul>
	</article>
	<article class="flex flex-col gap-2">
		<h4>Paginas</h4>
		<ul class="font-light text-sm">
			<li>Contactanos</li>
			<li>Politica de privacidad</li>
			<li>Terminos y condiciones</li>
		</ul>
	</article>
	<article class="flex flex-col gap-2">
		<h4>Explorar</h4>
		<ul class="font-light text-sm">
			<li>Articulos</li>
			<li>Proyectos con Django</li>
			<li>Liros</li>
			<li>Cursos</li>
		</ul>
	</article>
	<article class="flex flex-col gap-2">
		<h4>Proyectos con Django</h4>
		<ul class="font-light text-sm">
			<li>Enviar un Proyecto</li>
			<li>Redes sociales</li>
			<li>Proyectos de codigo abierto</li>
		</ul>
	</article>
</footer>
