---
import "../styles/global.css";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<title>{title}</title>
	</head>
	<body class="">
		<div class="bg-gray-900">
			<Header />
		</div>
		<main class="">
			<slot />
		</main>
		<div class="bg-gray-900">
			<Footer />
		</div>
		<article
			class="bg-[var(--primary-color)] text-white text-sm flex justify-center gap-2"
		>
			<a class="underline" href="https://github.com/josuesss72/blog-django"
				>💻 codigo GitHub</a
			>
			<p>Desarrollado By Jazmin Navarro @Copyright</p>
		</article>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
